{% extends 'base.html' %}

{% block title %}Nouveau professeur {% endblock%}

{% block content %}
    <h6 class="text-muted" >Nouveau prof</h6>
    <form method="POST">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email"  >
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" >
        </div>
        <div class="mb-3">
            <label for="telephone" class="form-label">telephone</label>
            <input type="text" class="form-control" id="telephone" name="telephone" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock%}